Node-RED Flows/Battery UI flows.json
[{"id":"14118da688748316","type":"alexa-remote-routine","z":"684d04fae4cd77ff","name":"","account":"8c47f57cbd660842","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload.text"},"devices":["G090XG1213020E50","G091MK0614630JH4"]}},"x":620,"y":160,"wires":[[]]},{"id":"2ddcadeccaed1e13","type":"inject","z":"684d04fae4cd77ff","name":"Manual Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"text\": \"hello world!\" }","payloadType":"json","x":190,"y":160,"wires":[["14118da688748316"]]},{"id":"f8ca8fd577e834da","type":"vsh-virtual-device","z":"684d04fae4cd77ff","name":"Battery Status Query","topic":"","metadata":"","connection":"ed116e62d307b235","template":"SWITCH","retrievable":false,"passthrough":true,"diff":false,"filter":false,"filterTopic":false,"plan":"free","x":160,"y":100,"wires":[["da92e0eb88e5b2d1","d240980e589744ec"]]},{"id":"da92e0eb88e5b2d1","type":"debug","z":"684d04fae4cd77ff","name":"Raw Virtual Device Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":80,"wires":[]},{"id":"d240980e589744ec","type":"function","z":"684d04fae4cd77ff","name":"Prepare Message","func":"\nif (msg.payload.powerState === \"ON\") {\n    let energyData = global.get(\"energyData\");\n    let currentCapacity = energyData.battery.percent;\n    let currentStatus = energyData.battery.status;\n    let speakMsg = {\n        payload: {\n            text: \"The battery is at \" + currentCapacity + \"percent and is \" + currentStatus,\n        }\n    };\n\n    let resetMsg = {\n        payload: {\n            powerState: \"OFF\"\n        }\n    };\n\n    // Delay the reset\n    setTimeout(() => {\n        node.send([null, resetMsg]); // Send to output 2\n    }, 5000);\n\n    return [speakMsg, null]; // Send speakMsg to output 1\n\n} else {\n    return null; // Ignore OFF state\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":120,"wires":[["14118da688748316"]]},{"id":"8675fbbefa0e7eb0","type":"inject","z":"684d04fae4cd77ff","name":"Update UI Every 5 min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":170,"y":240,"wires":[["b30fc8d63c3ee01d"]]},{"id":"b30fc8d63c3ee01d","type":"function","z":"684d04fae4cd77ff","name":"Get Parsed Energy Data","func":"let energyData = global.get(\"energyData\");\n\nif (energyData === undefined) {\n    node.error(\"Global variable 'energyData' is not yet available\");\n    return [null, msg];  // Send to second output (error path)\n}\n\nmsg.payload = energyData;\nreturn [msg, null];  // Send to first output (success path)","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":280,"wires":[["131b6a5fda1d39f0","da566fa7e8c846bf","efca2f2c0721862d","9ece7295eeca5052","8feaa1f0e83bb9aa","d0f66418cbf90803","f3697294724b1732","676a9426319e6a7f","d143085d8c4f3b92","c7aa4f7a74abe6cb","36a859510a3f0480","ca19614d60c78d9b","8eb65506cd8c3a83","d386f1c8cc3223c5"],["3cfa1a5640e9419e"]]},{"id":"131b6a5fda1d39f0","type":"debug","z":"684d04fae4cd77ff","name":"Received Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":200,"wires":[]},{"id":"3cfa1a5640e9419e","type":"debug","z":"684d04fae4cd77ff","name":"No Data Available","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":480,"wires":[]},{"id":"da566fa7e8c846bf","type":"change","z":"684d04fae4cd77ff","name":"Current Capacity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.battery.percent","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"payload.battery.status","tot":"jsonata"},{"t":"set","p":"timestamp","pt":"msg","to":"$fromMillis($millis() + (9*60*60*1000), \"[H01]:[m01]\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":240,"wires":[["16e901a2c649da68","8733068d7c9a4f70"]]},{"id":"16e901a2c649da68","type":"ui-gauge","z":"684d04fae4cd77ff","name":"Remaining Capacity","group":"bba524eeeb008f07","order":7,"value":"payload","valueType":"msg","width":12,"height":3,"gtype":"gauge-battery","gstyle":"rounded","title":"","units":"%","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ea5353"},{"from":"30","color":"#ffc800"},{"from":"50","color":"#5cd65c"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"battery-guage","x":1040,"y":160,"wires":[]},{"id":"8733068d7c9a4f70","type":"ui-gauge","z":"684d04fae4cd77ff","d":true,"name":"","group":"bba524eeeb008f07","order":8,"value":"payload","valueType":"msg","width":6,"height":3,"gtype":"gauge-half","gstyle":"needle","title":"Remaining Capacity","units":"%","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ea5353"},{"from":"30","color":"#ffc800"},{"from":"50","color":"#5cd65c"}],"min":0,"max":"100","sizeThickness":"38","sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"battery-percentage","x":935,"y":200,"wires":[],"l":false},{"id":"ab1e67805d58b8ec","type":"ui-template","z":"684d04fae4cd77ff","group":"","page":"ab5ec8f96a52254b","ui":"","name":"","order":0,"width":0,"height":0,"head":"","format":"    /* define any styles here - supports raw CSS */\n    .energy-info label {\n        color: rgb(101, 101, 101);\n    }\n\n.energy-info span::after {\n  content: \" kW\";\n}\n\n.battery-percentage #sections { display: none}\n.battery-percentage #needle-container { display: none}\n    .battery-percentage #backdrop {\n        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)); /* Adjust values as needed */\n    }\n\n.battery-percentage span, .battery-percentage label { display: none !important }\n\n.battery-guage svg { \n    height: 0 !important;\n    }","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":130,"y":40,"wires":[[]]},{"id":"efca2f2c0721862d","type":"function","z":"684d04fae4cd77ff","name":"Prep State Graph","func":"msg.payload = msg.payload.solar.generation_kW > 0;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":320,"wires":[["aff14347ba57de86"]]},{"id":"aff14347ba57de86","type":"ui-state-timeline","z":"684d04fae4cd77ff","group":"bba524eeeb008f07","name":"Solar Panel Status","order":9,"width":0,"height":0,"label":"Solar Panel Status","barHeight":30,"states":[{"label":"Generating","value":"true","valueType":"bool","color":"#ffe224"},{"label":"Idle","value":"false","valueType":"bool","color":"#696969"}],"timelineTimeFormat":"HH:mm","detailsTimeFormat":"M/DD/YY h:mm A","minTimeLabelGap":6,"liveUpdate":true,"rangeLimit":48,"rangeLimitUnit":"3600","showTimeMarkers":true,"showOnlyStartEndTimes":true,"x":1010,"y":320,"wires":[[]]},{"id":"ebc8de29549bb3a7","type":"ui-state-timeline","z":"684d04fae4cd77ff","group":"bba524eeeb008f07","name":"Battery Status","order":10,"width":0,"height":0,"label":"Battery Status","barHeight":30,"states":[{"label":"Idle","value":"idle","valueType":"str","color":"#5cd65c"},{"label":"Discharging","value":"discharging","valueType":"str","color":"#2cc8e8"},{"label":"Charging","value":"charging","valueType":"str","color":"#ff6666"}],"timelineTimeFormat":"HH:mm","detailsTimeFormat":"M/DD/YY h:mm A","minTimeLabelGap":6,"liveUpdate":true,"rangeLimit":48,"rangeLimitUnit":"3600","showTimeMarkers":true,"showOnlyStartEndTimes":true,"x":1000,"y":260,"wires":[[]]},{"id":"9ece7295eeca5052","type":"function","z":"684d04fae4cd77ff","name":"Prep State Graph","func":"msg.payload = msg.payload.battery.status;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":280,"wires":[["ebc8de29549bb3a7"]]},{"id":"8feaa1f0e83bb9aa","type":"function","z":"684d04fae4cd77ff","name":"Use (kW)","func":"msg.payload = msg.payload.solar.usage_kW;\nmsg.topic = \"Use (kW)\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":640,"wires":[["e02bc73869b54a5f","30bb66df15cc9dda"]]},{"id":"d0f66418cbf90803","type":"function","z":"684d04fae4cd77ff","name":"baseline","func":"msg.payload = \"0.35\";\nmsg.topic = \"baseline (kW)\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":400,"wires":[["f0b57b23c4a641ee"]]},{"id":"f3697294724b1732","type":"function","z":"684d04fae4cd77ff","name":"Actual Use","func":"let gen = msg.payload?.solar?.generation_kW;\nlet sell = msg.payload?.solar?.sell_kW;\n\nif (gen === undefined || sell === undefined) {\n    node.error(\"Missing solar generation or sell data\", msg);\n    return null;\n}\n\nmsg.payload = gen - sell;\nmsg.topic = \"Actual Use (kW)\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":440,"wires":[["f0b57b23c4a641ee"]]},{"id":"676a9426319e6a7f","type":"function","z":"684d04fae4cd77ff","name":"Remaining Capacity","func":"let percent = msg.payload?.battery?.percent;\nif (percent === undefined) {\n    node.error(\"Battery percent missing\", msg);\n    return null;\n}\n\n// Format timestamp as \"HH:MM\" in JST\nlet now = new Date(Date.now() + (9 * 60 * 60 * 1000));\nlet hhmm = now.toTimeString().slice(0, 5);  // \"HH:MM\"\n\nmsg.payload = percent;\nmsg.label = hhmm;\nmsg.topic = \"Remaining Capacity\";\nmsg.action = \"append\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":520,"wires":[["7c6c04bec78bc33d"]]},{"id":"f0b57b23c4a641ee","type":"ui-chart","z":"684d04fae4cd77ff","group":"bba524eeeb008f07","name":"","label":"Energy Use","order":11,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"Time","xAxisProperty":"","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"HH:mm","xmin":"","xmax":"","yAxisLabel":"kW","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":"","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"false","pointRadius":4,"showLegend":true,"removeOlder":"48","removeOlderUnit":"3600","removeOlderPoints":"","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":6,"height":8,"className":"","interpolation":"step","x":1270,"y":440,"wires":[[]]},{"id":"7c6c04bec78bc33d","type":"ui-chart","z":"684d04fae4cd77ff","group":"bba524eeeb008f07","name":"Remaining Capacity","label":"chart","order":14,"chartType":"bar","category":"topic","categoryType":"msg","xAxisLabel":"","xAxisProperty":"label","xAxisPropertyType":"msg","xAxisType":"category","xAxisFormat":"","xAxisFormatType":"auto","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":"0","ymax":"100","bins":10,"action":"append","stackSeries":false,"pointShape":"circle","pointRadius":4,"showLegend":false,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":6,"height":8,"className":"","interpolation":"linear","x":1240,"y":520,"wires":[[]]},{"id":"c7aa4f7a74abe6cb","type":"function","z":"684d04fae4cd77ff","name":"Buy (kW)","func":"msg.payload = msg.payload.solar.buy_kW;\nmsg.topic = \"Buy (kW)\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":480,"wires":[["f0b57b23c4a641ee","302c3379b62d199e"]]},{"id":"d143085d8c4f3b92","type":"function","z":"684d04fae4cd77ff","name":"Sell (kW)","func":"msg.payload = msg.payload.solar.sell_kW;\nmsg.topic = \"Sell (kW)\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":600,"wires":[["e02bc73869b54a5f","33547c834097155f"]]},{"id":"e02bc73869b54a5f","type":"ui-chart","z":"684d04fae4cd77ff","group":"bba524eeeb008f07","name":"","label":"Solar Panel","order":12,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"Time","xAxisProperty":"","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"HH:mm","xmin":"","xmax":"","yAxisLabel":"kW","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":"0","ymax":"5.5","bins":10,"action":"append","stackSeries":false,"pointShape":"false","pointRadius":4,"showLegend":true,"removeOlder":"48","removeOlderUnit":"3600","removeOlderPoints":"","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":6,"height":8,"className":"","interpolation":"step","x":1190,"y":660,"wires":[[]]},{"id":"36a859510a3f0480","type":"function","z":"684d04fae4cd77ff","name":"Generation (kW)","func":"msg.payload = msg.payload.solar.generation_kW;\nmsg.topic = \"Generate (kW)\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":680,"wires":[["e02bc73869b54a5f","b16ea2bf828bc504"]]},{"id":"545abcb67c76e558","type":"ui-chart","z":"684d04fae4cd77ff","group":"bba524eeeb008f07","name":"Battery Discharge/Charge","label":"Battery Discharge/Charge","order":13,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"Time","xAxisProperty":"","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"HH:mm","xmin":"","xmax":"","yAxisLabel":"kW","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":"","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"false","pointRadius":4,"showLegend":true,"removeOlder":"48","removeOlderUnit":"3600","removeOlderPoints":"","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":6,"height":8,"className":"","interpolation":"step","x":1230,"y":760,"wires":[[]]},{"id":"ca19614d60c78d9b","type":"function","z":"684d04fae4cd77ff","name":"Discharge Rate (kW)","func":"msg.payload = msg.payload.battery.rate_kW;\nmsg.topic = \"Rate (kW)\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":760,"wires":[["545abcb67c76e558"]]},{"id":"30bb66df15cc9dda","type":"ui-text","z":"684d04fae4cd77ff","group":"bba524eeeb008f07","order":3,"width":1,"height":1,"name":"","label":"Use","format":"{{msg.payload}}","layout":"row-left","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"energy-info","x":1210,"y":620,"wires":[]},{"id":"302c3379b62d199e","type":"ui-text","z":"684d04fae4cd77ff","group":"bba524eeeb008f07","order":5,"width":1,"height":0,"name":"","label":"Buy","format":"{{msg.payload}}","layout":"row-left","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"energy-info","x":1210,"y":480,"wires":[]},{"id":"33547c834097155f","type":"ui-text","z":"684d04fae4cd77ff","group":"bba524eeeb008f07","order":4,"width":1,"height":0,"name":"","label":"Sell","format":"{{msg.payload}}","layout":"row-left","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"energy-info","x":1210,"y":580,"wires":[]},{"id":"b16ea2bf828bc504","type":"ui-text","z":"684d04fae4cd77ff","group":"bba524eeeb008f07","order":2,"width":1,"height":0,"name":"","label":"Generate","format":"{{msg.payload}}","layout":"row-left","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"energy-info","x":1200,"y":700,"wires":[]},{"id":"8eb65506cd8c3a83","type":"function","z":"684d04fae4cd77ff","name":"battery status","func":"let battery = msg.payload.battery;\nmsg.payload = `Battery ${battery.status}: ${battery.current_rate_kW.toFixed(2)} kW`;\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":360,"wires":[["c19e3595c14caf74"]]},{"id":"c19e3595c14caf74","type":"ui-text","z":"684d04fae4cd77ff","group":"bba524eeeb008f07","order":6,"width":2,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":1270,"y":360,"wires":[]},{"id":"97455169c856095d","type":"http request","z":"684d04fae4cd77ff","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.86.43/update","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":370,"y":380,"wires":[["626da3cb1219b4ea"]]},{"id":"d386f1c8cc3223c5","type":"function","z":"684d04fae4cd77ff","name":"update monitor","func":"msg.payload = {\n    battery: msg.payload.battery.percent,\n    solar: msg.payload.solar.generation_kW,\n    status: msg.payload.battery.status,\n    use: msg.payload.solar.usage_kW,\n    buy: msg.payload.solar.buy_kW\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":380,"wires":[["97455169c856095d"]]},{"id":"fab199146d94a1f0","type":"tcp in","z":"684d04fae4cd77ff","name":"","server":"server","host":"","port":"2501","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","trim":false,"base64":false,"tls":"","x":120,"y":440,"wires":[["14370fb9d1d8cb7f","b30fc8d63c3ee01d"]]},{"id":"14370fb9d1d8cb7f","type":"debug","z":"684d04fae4cd77ff","name":"request string","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":440,"wires":[]},{"id":"11b7325675af2e94","type":"function","z":"684d04fae4cd77ff","name":"update monitor","func":"msg.payload = {\n    battery: 75,\n    solar: 0.6,\n    status: \"charging\",\n    use: 0.4,\n    buy: 0\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":700,"wires":[["678a7c1289a81fb7"]]},{"id":"678a7c1289a81fb7","type":"http request","z":"684d04fae4cd77ff","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.86.43/update","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":450,"y":740,"wires":[[]]},{"id":"5707adf782f3c561","type":"inject","z":"684d04fae4cd77ff","name":"Manual Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":110,"y":660,"wires":[["11b7325675af2e94"]]},{"id":"626da3cb1219b4ea","type":"function","z":"684d04fae4cd77ff","name":"Check","func":"if (msg.error) {\n    // Attach retry count\n    msg.retries = msg.retries || 0;\n    if (msg.retries < 1) {\n        msg.retries += 1;\n        return [null, msg];  // Send to retry path\n    } else {\n        return [msg, null];  // Drop or handle as final failure\n    }\n} else {\n    return [msg, null];      // Successful response\n}\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":380,"wires":[[],["6f2096d32bfdaa4a"]]},{"id":"6f2096d32bfdaa4a","type":"delay","z":"684d04fae4cd77ff","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":660,"y":380,"wires":[["d386f1c8cc3223c5"]]},{"id":"8c47f57cbd660842","type":"alexa-remote-account","name":"","authMethod":"proxy","proxyOwnIp":"192.168.86.220","proxyPort":3456,"cookieFile":"/data/alexa-auth.json","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","pushDispatchHost":"","amazonPage":"amazon.com","acceptLanguage":"en-US","onKeywordInLanguage":"on","userAgent":"","usePushConnection":"on","autoInit":"on","autoQueryActivityOnTrigger":"off"},{"id":"ed116e62d307b235","type":"vsh-connection","name":"barry@netlands.com","port":"8883","accessTokenExpiry":"1752983516694","debug":false,"backendUrl":"https://kfd5m4a21f.execute-api.eu-west-1.amazonaws.com/dev","lwaClientId":"amzn1.application-oa2-client.3f1bb07133854b078261ad43f2484c18"},{"id":"bba524eeeb008f07","type":"ui-group","name":"Group 1","page":"ab5ec8f96a52254b","width":6,"height":1,"order":1,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"ab5ec8f96a52254b","type":"ui-page","name":"Battery","ui":"df3d6cd6608fc3c3","path":"/battery","icon":"battery","layout":"grid","theme":"5b3b4b3109bc086d","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":true,"disabled":false},{"id":"df3d6cd6608fc3c3","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"http://192.168.86.220:8081/home_automation_home.png","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control","ui-chart","ui-gauge","ui-state-timeline","ui-text"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true,"allowInstall":true},{"id":"5b3b4b3109bc086d","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]